{% extends 'admin/_base.html.twig' %}
{% set active_menu = 'feedback' %}
{% block title %}Feedback - Admin{% endblock %}

{% block admin_content %}
<h1>⭐ Feedback & Reviews</h1>
<p>Read and manage customer reviews and feedback here.</p>
<!-- Feedback management UI goes here -->
{% endblock %}
